@charset "utf-8";
/* CSS Document */

        .meny 
        {
        background:gray;
        border: 2px solid black;
        padding: 10px;
        margin-left: 300px;
        margin-right: 300px;
        text-align: center;
        border-radius: 10px;
          }
         ul.ancheor
        {
        background:gray;
        border: 2px solid black;
        padding: 10px;
        border-radius: 10px;
        width: 200px;
            list-style: none;
        }
h1
{
    background:lightblue;
    border: 5px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-left: 400px;
    margin-right: 400px;
}
            a:link 
            {
                background: black;
                padding: 2px;
                margin-right: 10px;
                margin-left: 10px;
                font-family: 'Trebuchet MS';
                color: white;
				text-decoration: none;
				border-radius: 5px;
            }
             a:visited 
            {
                background: black;
                padding: 2px;
                margin-right: 10px;
                margin-left: 10px;
                font-family: 'Trebuchet MS';
                color: lightblue;
				text-decoration: none;
				border-radius: 5px;
            }
             a:hover 
            {
                background: gray;
                padding: 2px;
                margin-right: 10px;
                margin-left: 10px;
                font-family: 'Trebuchet MS';
                color: white;
				text-decoration: none;
				border-radius: 5px;
            }
            a:hover 
            {
                background: gray;
                padding: 2px;
                margin-right: 10px;
                margin-left: 10px;
                font-family: 'Trebuchet MS';
                color: lightblue;
				text-decoration: none;
				border-radius: 5px;
            }
            .dö
            {
                font-family: 'Arial';
                border: 5px solid black;
                padding: 10px;
                background:lightblue;
                margin-left: 100px;
                margin-right: 100px;
                border-radius: 10px;
            }
            h1
            {
                font-family: 'Arial';
                color: #000000;
                text-align: center;
            }
			.bild
            {
				width: 500px;
			    height: 300px;
				border: 2px solid black;
			}
			.bröd
            {
				
			}
			.bildtext
            {
				font-family: 'Arial'; 
				color: darkslategray;
				text-align: center;
			}
body
{
    background-image:url(../images/tank.jpg)
}
@media(max-width: 450px)
{
    .meny
        {
        background:gray;
        border: 1px solid black;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
        margin:0;
          }
    .dö
            {
                font-family: 'Arial';
                border: 2px solid black;
                padding: 5px;
                background:lightblue;
                margin-left: 50px;
                margin-right: 50px;
                border-radius: 5px;
            }
    
         ul.ancheor
        {
        background:gray;
        border: 1px solid black;
        padding: 5px;
        border-radius: 5px;
        width: 170px;
            list-style: none;
        }
    h1{
        border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
        width: calc(100%-20px);
        margin:0;
    }
}